<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Fourth Year - BS in Electrical Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">EE415</th><td>Electrical Standards and Practice</td><td>1</td><td>0</td><td>1</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE417</th><td>Fundamentals of Power Plant Engineering</td><td>0</td><td>1</td><td>1</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE416</th><td>EE Refresher Course 2</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE414</th><td>Instrumentation and Control</td><td>2</td><td>1</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ES411</th><td>Engineering Management</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE413</th><td>Electrical Machines 2</td><td>3</td><td>1</td><td>4</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE411</th><td>EE Elective 1 (Electrical Audit Evaluation)</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE441</th><td>Feedback Control Systems</td><td>2</td><td>1</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE412</th><td>Research Project 1</td><td>0</td><td>1</td><td>1</td><td>4Y Standing</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>21</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">EE421</th><td>Seminars Colloquia</td><td>0</td><td>1</td><td>1</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE426</th><td>EE Refresher Course 3</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE422</th><td>Distributions Systems & Substation Design</td><td>2</td><td>1</td><td>3</td><td>EE415</td></tr>
          <tr><th scope="row">EE112</th><td>EE Elective 2 (Maintenance of Power Facilities)</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">EE423</th><td>Electrical System & Illumination Eng'g. Design</td><td>3</td><td>2</td><td>5</td><td>EE415</td></tr>
          <tr><th scope="row">EE424</th><td>Power System Analysis</td><td>3</td><td>0</td><td>3</td><td>EE415</td></tr>
          <tr><th scope="row">EE425</th><td>EE Laws, Codes & Professional Ethics</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>22</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
