<div class="container">
  <h1 *ngIf="teacher">{{ teacher.name }}</h1>
  <h1 *ngIf="!teacher && !loading">Teacher not found</h1>
  <h1 *ngIf="loading">Loading...</h1>

  <div class="main-body p-0" *ngIf="schedules.length > 0">
    <!-- Only show table if schedules exist -->
    <table class="table mt-5 table-bordered">
      <thead>
        <tr>
          <th scope="col">Subject Code</th>
          <th scope="col">Subject</th>
          <th scope="col">Units</th>
          <th scope="col">Room</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td>{{ schedule.subject_code }}</td>
          <td>{{ schedule.subject }}</td>
          <td>{{ schedule.units }}</td>
          <td>{{ schedule.room }}</td>
          <td>{{ schedule.start }}</td>
          <td>{{ schedule.end }}</td>
          <td>{{ schedule.day }}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <strong class="text-black">Total Hours:</strong>
      {{ totalCumulativeHours | number : "1.2-2" }} hours
    </div>
  </div>

  <!-- Message when no schedules are available -->
  <div *ngIf="schedules.length === 0 && !loading">
    <p>No schedules found for the teacher.</p>
  </div>
</div>
