<div class="container">
  <h1>College of Engineering</h1>
  <p>This section can only be accessed by the deans.</p>

  <!-- <a routerLink="add" class="btn btn-success">Add Teacher</a> -->
</div>

<div *ngIf="loading" class="mt-5 container">
  <p class="placeholder-glow">
    <span class="placeholder col-12 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-10 my-2 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-8 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-6 my-2 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-4 bg-secondary placeholder-lg"></span>
  </p>
</div>

<div *ngIf="!loading" class="container mt-5 p-0">
  <div class="main-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Number</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.gender }}</td>
          <td>{{ teacher.address }}</td>
          <td>{{ teacher.contactNumber }}</td>
          <td>
            <div class="d-flex gap-2">
              <a
                class="btn btn-success"
                routerLink="instructor/{{ teacher.employee_id }}"
                >View</a
              >
              <!-- <a class="btn btn-primary" routerLink="edit/{{ teacher.id }}">Edit</a> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
