<div class="container">
  <h1>Civil Engineering</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>

  <div>
    <a routerLink="schedule" class="btn btn-success text-light">
      BSCE Schedule</a
    >
  </div>
</div>

<div class="container text-center mt-5 mx-10">
  <div class="row d-flex justify-content-center gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">First Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>

        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a routerLink="1st-year" class="btn btn-primary text-light">
            Schedule
          </a>
          <a
            routerLink="1st-year/enlistment"
            class="btn btn-primary text-light"
          >
            Enlistment
          </a>
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Second Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a routerLink="2nd-year" class="btn btn-primary text-light">
            Schedule</a
          >
          <a
            routerLink="2nd-year/enlistment"
            class="btn btn-primary text-light"
          >
            Enlistment
          </a>
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Third Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a routerLink="3rd-year" class="btn btn-primary text-light">
            Schedule</a
          >
          <a
            routerLink="3rd-year/enlistment"
            class="btn btn-primary text-light"
          >
            Enlistment
          </a>
        </div>
      </div>
    </div>

    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Fourth Year</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a routerLink="4th-year" class="btn btn-primary text-light">
            Schedule</a
          >
          <a
            routerLink="4th-year/enlistment"
            class="btn btn-primary text-light"
          >
            Enlistment
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
