<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Third Year - BS in Accountancy</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SOCPHIL</th>
            <td>Social Science & Philosophy</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">IBT</th>
            <td>International Business & Trade</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED220</td>
          </tr>
          <tr>
            <th scope="row">BL</th>
            <td>Business Logic</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED220</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>9</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">OPSMA</th>
            <td>Operations Management & TQM</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ACCBED313</th>
            <td>Accounting Information System</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED292</td>
          </tr>
          <tr>
            <th scope="row">ACCBED314</th>
            <td>Accounting for Business Combinations</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED292</td>
          </tr>
          <tr>
            <th scope="row">ACCBED315</th>
            <td>Statistical Analysis w/ Software App.</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED221</td>
          </tr>
          <tr>
            <th scope="row">ACCBED311</th>
            <td>Intermediate Accounting 3</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED221</td>
          </tr>
          <tr>
            <th scope="row">ACCBED310</th>
            <td>Governance, Business Ethics, Risk Mgmt. & Internal Control</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED292</td>
          </tr>
          <tr>
            <th scope="row">ACCBED312</th>
            <td>Auditing & Assurance: Concepts & Applications 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED292</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>21</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ARTHUM</th>
            <td>Arts & Humanities</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ACCBED321</th>
            <td>Auditing & Assurance: Concepts & Application 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED312</td>
          </tr>
          <tr>
            <th scope="row">ACCBED322</th>
            <td>Accounting for Government & Non-Profit Organizations</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED311</td>
          </tr>
          <tr>
            <th scope="row">ACCBED323</th>
            <td>Accounting for Special Transactions</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED311</td>
          </tr>
          <tr>
            <th scope="row">ACCBED324</th>
            <td>Auditing in a CIS Environment</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>ACCBED313</td>
          </tr>
          <tr>
            <th scope="row">ACCBED325</th>
            <td>Auditing & Assurance: Specialized Industries</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED311, ACCBED312</td>
          </tr>
          <tr>
            <th scope="row">ACCBED326</th>
            <td>Accounting Research Methods</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ACCBED311</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>21</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
