<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for First Year - BS in Hospitality Management</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">HIST</th>
            <td>Reading in Philippine History</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ETHICS</th>
            <td>Ethics</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HM101</th>
            <td>Principles of Safety, Hygiene & Sanitation</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">NUTR100</th>
            <td>Food Nutrition</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HM100</th>
            <td>Introduction to Hospitality Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">CUL101</th>
            <td>Culinary Arts and Social</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">NSTP1</th>
            <td>National Service Training Prog. 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE1</th>
            <td>Physical Education 1</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>25</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">MATHWORLD</th>
            <td>Mathematics in the Modern World</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HSORG</th>
            <td>Housekeeping Procedures</td>
            <td>3</td>
            <td>2</td>
            <td>5</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">CUL102</th>
            <td>Asian Cuisine</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HM100, HM101, CUL101</td>
          </tr>
          <tr>
            <th scope="row">FBS100</th>
            <td>Food & Beverage Service Procedures w/ Bartending</td>
            <td>2</td>
            <td>3</td>
            <td>5</td>
            <td>HM100, HM101</td>
          </tr>
          <tr>
            <th scope="row">NSTP2</th>
            <td>National Service Training Program 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>NSTP1</td>
          </tr>
          <tr>
            <th scope="row">PE2</th>
            <td>Physical Education 2</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>PE1</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>23</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">UTS</th>
            <td>Understanding the Self</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">FBS101</th>
            <td>Food and Beverage Control System</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>FBS100</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>6</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
