<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Third Year - BS in Mechanical Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ES314</th>
            <td>Mechanics of Deformable Bodies</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ES211</td>
          </tr>
          <tr>
            <th scope="row">ES315</th>
            <td>Engineering Economics</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>3Y Standing</td>
          </tr>
          <tr>
            <th scope="row">ECE111</th>
            <td>Basic Electronics</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>PHY101</td>
          </tr>
          <tr>
            <th scope="row">SOCPHIL</th>
            <td>Social Science & Philosophy</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ME312</th>
            <td>Heat Transfer</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>ME222</td>
          </tr>
          <tr>
            <th scope="row">ES313</th>
            <td>Fluid Mechanics</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ME211</td>
          </tr>
          <tr>
            <th scope="row">ES315</th>
            <td>Engineering Economics</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>PHY101</td>
          </tr>
          <tr>
            <th scope="row">ME313</th>
            <td>Vibration Engineering</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>PHY101</td>
          </tr>
          <tr>
            <th scope="row">ME311</th>
            <td>Machine Elements 1</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>PHY101</td>
          </tr>
          <tr>
            <th scope="row">ES316</th>
            <td>Computer Applications for ME</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>26</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">EE322A</th>
            <td>DC and AC Machinery</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>EE201</td>
          </tr>
          <tr>
            <th scope="row">ES321</th>
            <td>Materials Science & Engineering</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>CHEM101</td>
          </tr>
          <tr>
            <th scope="row">ME111</th>
            <td>Mech. Engineering Elec. (Electric Management in Buildings)</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>3Y STANDING</td>
          </tr>
          <tr>
            <th scope="row">ME325</th>
            <td>Methods of Research for ME</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>3Y STANDING</td>
          </tr>
          <tr>
            <th scope="row">ME326</th>
            <td>ME Refresher Course 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>3Y STANDING</td>
          </tr>
          <tr>
            <th scope="row">ME321</th>
            <td>Machine Elements 2</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>ME311</td>
          </tr>
          <tr>
            <th scope="row">ME324</th>
            <td>Mechanical Engineering Lab 1</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>ME211</td>
          </tr>
          <tr>
            <th scope="row">ME322</th>
            <td>Fluid Machineries</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>ES313</td>
          </tr>
          <tr>
            <th scope="row">ME323</th>
            <td>Combustion Engineering</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>ME211</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>23</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
