<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Third Year - BS in Hospitality Management</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ARTHUM</th>
            <td>Arts & Humanities</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">OPSMA</th>
            <td>Operations Management & TQM</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HM102</td>
          </tr>
          <tr>
            <th scope="row">HM104</th>
            <td>Events Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">TOUR102</th>
            <td>Principles of Tourism 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>TOUR101</td>
          </tr>
          <tr>
            <th scope="row">CW</th>
            <td>The Contemporary World</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">FORLANG1</th>
            <td>Foreign Language 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>18</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BR</th>
            <td>Business Research</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">RIZAL</th>
            <td>Rizal's Life & Works</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HM105</th>
            <td>Hospitality Operations Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>OPSMA, HM102</td>
          </tr>
          <tr>
            <th scope="row">HM106</th>
            <td>Rooms Division</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HBKPG, HM103</td>
          </tr>
          <tr>
            <th scope="row">TOUR103</th>
            <td>Tourism Planning & Development</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>TOUR102</td>
          </tr>
          <tr>
            <th scope="row">FIL2</th>
            <td>Panitikan ng Pilipinas</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>FIL1</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>18</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BC100</th>
            <td>Good Governance and Social Responsibility</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ETHICS</td>
          </tr>
          <tr>
            <th scope="row">HM107</th>
            <td>Leisure, Sports & Recreation Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HM104, TOUR102</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>6</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
