<div class="container">
  <h1>College of Business Management</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>
</div>

<div class="container text-center mt-5 mx-10">
  <div class="row d-flex justify-content-center gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Accountancy</h5>
        <p class="card-text"></p>

        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="accountancy/schedule"
            class="btn btn-primary text-light"
          >
            View
          </a>
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Marketing Management</h5>
        <p class="card-text"></p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="marketing-management/schedule"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Hospitality Management</h5>
        <p class="card-text"></p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="hospitality-management/schedule"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>

    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Human Resource Management</h5>
        <p class="card-text"></p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="human-resource-management/schedule"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
