<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Fourth Year - BS in Accountancy</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">STRAMA</th><td>Strategic Management</td><td>3</td><td>0</td><td>3</td><td>OPSMBA</td></tr>
          <tr><th scope="row">HBO</th><td>Professional Elective 1</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>6</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">VCM</th><td>Prof. Elect. 4 (Valuation Concepts & Methods)</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">PMTA</th><td>Prof. Elect. 3 (Principles & Methods of Teaching Accounting)</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">RIZAL</th><td>Rizal's Life & Works</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">LIT1</th><td>Philippine Literature</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ACCBED411</th><td>Strategic Business Analysis</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">OPAUDIT</th><td>Operations Auditing</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>18</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">ACCBED410</th><td>Accountancy Research</td><td>3</td><td>0</td><td>3</td><td>ACCBED411, PMTA, VCM</td></tr>
          <tr><th scope="row">ACCBED420</th><td>Accountancy Internship</td><td>0</td><td>6</td><td>6</td><td>ACCBED411, PMTA, VCM</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>9</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
