<div class="container">
  <h1>College of Teacher Education</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>

  <!-- <div>
    <a routerLink="all-year" class="btn btn-success text-light">
      CTE Schedule</a
    >
  </div> -->
</div>

<div class="container text-center mt-5 mx-10">
  <div class="row d-flex justify-content-center gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img
        src="https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Bachelor of Secondary Education</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>

        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="bachelor-of-secondary-education"
            class="btn btn-primary text-light"
          >
            View
          </a>
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img
        src="https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Bachelor of Elementary Education</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="bachelor-of-elementary-education"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
