<div class="container">
  <h1>College of Education and Arts</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>

  <!-- <div>
    <a routerLink="all-year" class="btn btn-success text-light">
      CTE Schedule</a
    >
  </div> -->
</div>

<div class="container text-center mt-5 mx-10">
  <div class="row d-flex justify-content-center gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" style="height: 230px" />
      <div class="card-body">
        <h5 class="card-title">Secondary Education</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>

        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="secondary-education/schedule"
            class="btn btn-primary text-light"
          >
            View
          </a>
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" style="height: 230px" />
      <div class="card-body">
        <h5 class="card-title">Elementary Education</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="elementary-education/schedule"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
