<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Fourth Year - BS in Civil Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">CE411</th>
            <td>Principles of Street Design</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>CE312</td>
          </tr>
          <tr>
            <th scope="row">CE412</th>
            <td>Principles of Reinforced/Prestressed Concrete</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>CE324</td>
          </tr>
          <tr>
            <th scope="row">CE413</th>
            <td>CE Project 1</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">CE414</th>
            <td>Principles of Transportation Engineering</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>CE311</td>
          </tr>
          <tr>
            <th scope="row">CE415</th>
            <td>Construction Methods & Project Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">CE416</th>
            <td>Refresher Course 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">PCS1</th>
            <td>Project Construction and Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">PCS2</th>
            <td>Construction Cost Engineering</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">ES411</th>
            <td>Engineering Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>27</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">CE421</th>
            <td>Quantity Surveying</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>CE326</td>
          </tr>
          <tr>
            <th scope="row">CE422</th>
            <td>CE Law, Ethics & Contracts</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">CE423</th>
            <td>CE Project 2</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>CE413</td>
          </tr>
          <tr>
            <th scope="row">CE424</th>
            <td>Refresher Course 3</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">CE425</th>
            <td>Water Supply Planning & Development</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">PCS3</th>
            <td>Advanced Construction Methods and Equipment</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">PCS4</th>
            <td>Database Management in Construction</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">PCS5</th>
            <td>Construction Occupational Safety</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>23</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
