<div class="container" style="margin: 0 auto">
  <h1 class="my-5">
    Subjects for Fourth Year - BSBA in Human Resource Development Management
  </h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">FS</th>
            <td>Feasibility Study</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y STANDING</td>
          </tr>
          <tr>
            <th scope="row">HRDM12</th>
            <td>Special Topics in Human Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y STANDING</td>
          </tr>
          <tr>
            <th scope="row">ARTHUM</th>
            <td>Arts & Humanities</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">LIT1</th>
            <td>Philippine Literature</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>12</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PRACUM</th>
            <td>Office Practicum / On the Job Training (600 Hrs)</td>
            <td>0</td>
            <td>6</td>
            <td>6</td>
            <td>4Y STANDING</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>6</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
