<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Second Year - BS in Electrical Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">PE3</th><td>Physical Education 3</td><td>2</td><td>0</td><td>2</td><td>PE1</td></tr>
          <tr><th scope="row">MATH214</th><td>Differential Equation</td><td>3</td><td>0</td><td>3</td><td>MATH123</td></tr>
          <tr><th scope="row">ES213</th><td>Environmental Science</td><td>3</td><td>0</td><td>3</td><td>CHEM101</td></tr>
          <tr><th scope="row">EE212</th><td>Electromagnetics</td><td>2</td><td>1</td><td>3</td><td>PHY101</td></tr>
          <tr><th scope="row">ES212</th><td>Computer Fund. & Programming 1</td><td>0</td><td>1</td><td>1</td><td>-</td></tr>
          <tr><th scope="row">CW</th><td>The Contemporary World</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ES211</th><td>Engineering Mechanics (Statics)</td><td>3</td><td>0</td><td>3</td><td>PHY101</td></tr>
          <tr><th scope="row">EE211</th><td>Electrical Circuits 1</td><td>3</td><td>1</td><td>4</td><td>PHY101</td></tr>
          <tr><th scope="row">ME211</th><td>Thermodynamics 1</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ARTHUM</th><td>Arts & Humanities</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>27</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">PE4</th><td>Physical Education 4</td><td>2</td><td>0</td><td>2</td><td>PE3</td></tr>
          <tr><th scope="row">MATH225</th><td>Engineering Data Analysis</td><td>3</td><td>0</td><td>3</td><td>MATH112</td></tr>
          <tr><th scope="row">EE222</th><td>Electrical Circuits 2</td><td>3</td><td>1</td><td>4</td><td>EE211</td></tr>
          <tr><th scope="row">BES221</th><td>Technopreneurship</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ETHICS</th><td>Ethics</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">UTS</th><td>Understanding the Self</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">STS</th><td>Science, Technology & Society</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ES221</th><td>Engineering Mechanics (Dynamic)</td><td>2</td><td>0</td><td>2</td><td>ES211</td></tr>
          <tr><th scope="row">MST</th><td>Mathematics, Science & Technology</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">MATH226</th><td>Advanced Mathematics for Engineering</td><td>3</td><td>0</td><td>3</td><td>MATH214</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>29</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
