<div class="container">
  <div *ngIf="teacher">
    <h1>{{ teacher.name }}</h1>
    <p>Faculty of College of Computer Studies</p>
  </div>
  <button
    (click)="generatePDF()"
    *ngIf="schedules.length > 0 && !loading"
    class="btn-primary btn mt-2"
  >
    Download Enlistment
  </button>
  <h1 *ngIf="!teacher && !loading">Teacher not found</h1>
  <div
    *ngIf="loading"
    class="d-flex justify-content-center align-items-center mt-3"
  >
    <div class="loader"></div>
  </div>

  <!-- Message when no schedules are available -->
  <div *ngIf="schedules.length === 0 && !loading">
    <p>No schedules found for the teacher.</p>
  </div>

  <div class="main-body p-0" *ngIf="schedules.length > 0">
    <!-- Only show table if schedules exist -->
    <table class="table mt-5 table-bordered">
      <thead>
        <tr>
          <th scope="col">Subject Code</th>
          <th scope="col">Subject</th>
          <th scope="col">Units</th>
          <th scope="col">Room</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td>{{ schedule.subject_code }}</td>
          <td>{{ schedule.subject }}</td>
          <td>{{ schedule.units }}</td>
          <td>{{ schedule.room }}</td>
          <td>{{ schedule.start }}</td>
          <td>{{ schedule.end }}</td>
          <td>{{ schedule.day }}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-lg">
      <strong class="text-black">Total Hours:</strong>
      {{ totalCumulativeHours | number : "1.2-2" }} hours
    </div>
  </div>
</div>
