<div class="container">
  <!-- Show loading spinner while loading -->
  <div *ngIf="loading" class="mt-5 container">
    <p class="placeholder-glow">
      <span class="placeholder col-12 bg-secondary placeholder-lg"></span>
      <span class="placeholder col-10 my-2 bg-secondary placeholder-lg"></span>
      <span class="placeholder col-8 bg-secondary placeholder-lg"></span>
      <span class="placeholder col-6 my-2 bg-secondary placeholder-lg"></span>
      <span class="placeholder col-4 bg-secondary placeholder-lg"></span>
    </p>
  </div>

  <!-- Show teacher details if loaded -->
  <div *ngIf="!loading && teacher">
    <h1>{{ teacher.name }}</h1>
    <p>Faculty of College of Computer Studies</p>
  </div>

  <!-- Show button to download enlistment if schedules exist -->
  <button
    (click)="generatePDF()"
    *ngIf="schedules.length > 0 && !loading"
    class="btn btn-primary mt-2"
  >
    Download Enlistment
  </button>

  <!-- Message for teacher not found -->
  <h1 *ngIf="!loading && !teacher">Teacher not found</h1>

  <!-- Show schedules if available -->
  <div class="main-body p-0" *ngIf="!loading && schedules.length > 0">
    <table class="table mt-5 table-bordered">
      <thead>
        <tr>
          <th scope="col">Subject Code</th>
          <th scope="col">Subject</th>
          <th scope="col">Units</th>
          <th scope="col">Room</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td>{{ schedule.subject_code }}</td>
          <td>{{ schedule.subject }}</td>
          <td>{{ schedule.units }}</td>
          <td>{{ schedule.room }}</td>
          <td>{{ schedule.start }}</td>
          <td>{{ schedule.end }}</td>
          <td>{{ schedule.day }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Total Hours Section -->
    <div class="mt-5">
      <h3 class="font-bold">Total Hours:</h3>
      <p class="fs-4">{{ totalCumulativeHours | number : "1.2-2" }} hours</p>
    </div>
  </div>
</div>
