<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Third Year</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">RES100</th><td>Research in Education</td><td>3</td><td>3Y Standing</td></tr>
          <tr><th scope="row">EDUC313</th><td>Facilitating Learner-Centered Teaching</td><td>3</td><td>EDUC101</td></tr>
          <tr><th scope="row">ARTS100</th><td>Teaching Arts in Elem.</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">EDUC312</th><td>Technology for Teaching & Learning 1</td><td>3</td><td>EDUC211</td></tr>
          <tr><th scope="row">TLE311</th><td>Edukasyong Pantahanan at Pangkabuhayan</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">MUSIC100</th><td>Teaching Music in the Elementary</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">EDUC311</th><td>Assessment in Learning 1</td><td>3</td><td>EDUC101</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td><strong>21</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">RGEC 1</th><td>Review on General Education Courses</td><td>3</td><td>3Y Standing</td></tr>
          <tr><th scope="row">TLE322</th><td>Edukasyong Pantahanan at Pangkabuhayan w/ Entrep.</td><td>3</td><td>TLE311</td></tr>
          <tr><th scope="row">PEH100</th><td>Teaching PE and Health in the Elementary Grades</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">EDUC321</th><td>Assessment in Learning 2</td><td>3</td><td>EDUC311</td></tr>
          <tr><th scope="row">EDUC322</th><td>Technology for Teaching and Learning 2</td><td>3</td><td>EDUC312</td></tr>
          <tr><th scope="row">EDUC323</th><td>The Teacher & the School Curriculum</td><td>3</td><td>EDUC211</td></tr>
          <tr><th scope="row">EDUC324</th><td>Building & Enhancing New Literacies Across the Curriculum</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ELEC100</th><td>Teaching Multi-Grade Classes</td><td>3</td><td>-</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td><strong>24</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
