<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Third Year</h1>

  <!-- <h2 class="text-center m-5">First Year</h2> -->

  <div class="wrapper d-flex row justify-content-between gap-2">
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">EDUC313</th>
            <td>Facilitating Learner-Centered Teaching</td>
            <td>3</td>
            <td>EDUC101</td>
          </tr>
          <tr>
            <th scope="row">SOCPHIL</th>
            <td>Social Science and Philosophy</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">EDUC311</th>
            <td>Assessment in Learning 1</td>
            <td>3</td>
            <td>EDUC101</td>
          </tr>
          <tr>
            <th scope="row">LIT316</th>
            <td>Contemporary, Popular & Emergement Literature</td>
            <td>2</td>
            <td>LIT201</td>
          </tr>
          <tr>
            <th scope="row">LIT315</th>
            <td>Survey of English & American Literature</td>
            <td>3</td>
            <td>LIT201</td>
          </tr>
          <tr>
            <th scope="row">ELT314</th>
            <td>Survey of Afro-Asian Literature</td>
            <td>3</td>
            <td>LIT201</td>
          </tr>
          <tr>
            <th scope="row">ELT313</th>
            <td>Sruvey of Phil. Literature in English</td>
            <td>3</td>
            <td>LIT201</td>
          </tr>
          <tr>
            <th scope="row">EDUC312</th>
            <td>Technology for Teaching and Learning 1</td>
            <td>3</td>
            <td>EDUC211</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>24</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">EDUC324</th>
            <td>Building & Enhancing New Literacies Across the Curriculum</td>
            <td>3</td>
            <td>ELT121</td>
          </tr>
          <tr>
            <th scope="row">EDUC321</th>
            <td>Assessment in Learning 2</td>
            <td>3</td>
            <td>EDUC311</td>
          </tr>
          <tr>
            <th scope="row">EDUC322</th>
            <td>Technology for Teaching and Learning 2</td>
            <td>3</td>
            <td>EDUC312</td>
          </tr>
          <tr>
            <th scope="row">EDUC323</th>
            <td>The Teacher and the School Curriculum</td>
            <td>3</td>
            <td>EDUC211</td>
          </tr>
          <tr>
            <th scope="row">CAMJOUR</th>
            <td>Campus Journalism</td>
            <td>3</td>
            <td>ELT228</td>
          </tr>
          <tr>
            <th scope="row">RGEC1</th>
            <td>Review on General Education Courses</td>
            <td>3</td>
            <td>3Y Standing</td>
          </tr>
          <tr>
            <th scope="row">LIT327</th>
            <td>Literacy Critism</td>
            <td>3</td>
            <td>LIT313, LIT314, LIT315, LIT316</td>
          </tr>
          <tr>
            <th scope="row">ESP100</th>
            <td>English For Special Purpose</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>24</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
