<!-- main app container -->
<!-- <div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
<app-menubar></app-menubar> -->
<!-- (click)="sharedService.this.scheduler.closeDialog()"  -->

<div class="app-container">
  <!-- main nav -->
  <div class="navbar navbar-expand navbar-bg text-light p-2" *ngIf="user">
    <div class="navbar-nav fs-6 d-flex gap-2 align-items-center">
      <img
        src="assets/img/logo.png"
        alt="Benedicto Logo"
        class="logo-img"
        style="width: 100%; margin: 0 1rem 0 1.5rem"
      />
      <a
        routerLink="/"
        routerLinkActive="active"
        *ngIf="user.user?.role !== Role.Admin"
        (click)="this.scheduler.closeDialog()"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link d-flex gap-2 align-items-center text-light"
      >
        Home</a
      >
      <a
        routerLink="/instructors"
        routerLinkActive="active"
        *ngIf="user.user?.role !== Role.Admin"
        (click)="this.scheduler.closeDialog()"
        class="nav-item nav-link d-flex gap-2 align-items-center text-light"
      >
        Teachers</a
      >
      <!-- <a
        routerLink="/profile"
        routerLinkActive="active"
        class="nav-item nav-link d-flex gap-2 align-items-center text-light"
        >Profile</a
      > -->

      <a
        *ngIf="user.user?.role === Role.Admin"
        routerLink="/admin"
        routerLinkActive="active"
        class="nav-item nav-link d-flex gap-2 align-items-center text-light"
        >Admin</a
      >
      <a
        routerLink="/prospectus"
        *ngIf="user.user?.role !== Role.Admin"
        routerLinkActive="active"
        (click)="this.scheduler.closeDialog()"
        class="nav-item nav-link d-flex gap-2 align-items-center text-light"
        >Prospectus</a
      >
      <a
        class="nav-item nav-link d-flex gap-2 align-items-center text-light"
        routerLink="/schedule"
        *ngIf="user.user?.role !== Role.Admin"
        (click)="this.scheduler.closeDialog()"
        routerLinkActive="active"
      >
        Schedule
      </a>
    </div>
    <div class="d-flex align-items-center">
      <!-- Button trigger modal -->

      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn dropdown-toggle text-white d-flex align-items-center justify-content-center gap-3 account-button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://img.freepik.com/premium-photo/cartoon-character-with-glasses-blue-shirt-with-smile-his-face_1221953-47923.jpg"
                alt="user profile-pic"
                class="rounded-circle profile-pic"
              />
              <div class="d-flex align-items-center flex-column">
                <p class="m-0">
                  {{ user.user?.first_name }} {{ user.user?.last_name }}
                </p>
                <p
                  class="text-sm-end text-white rounded-pill py-1 px-3 m-0"
                  style="font-size: 12px; background-color: #ff6100"
                >
                  {{ user.user?.role }}
                </p>
              </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" (click)="logout()"> Logout </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="border: none">
              <!-- <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button> -->
            </div>
            <div class="modal-body text-center">
              <h5 class="text-black fw-bold">
                You are attempting to log out of Benedicto College Scheduling
              </h5>
              <p class="text-body are-you">
                Are you sure you want to continue?
              </p>

              <p class="text-body logged-as">
                Logged In as {{ user.user?.first_name }}
              </p>
              <div class="d-flex justify-content-center gap-2">
                <a
                  type="button"
                  (click)="logout()"
                  class="btn btn-danger logout-button"
                  data-bs-dismiss="modal"
                  >Logout</a
                >
                <a
                  type="button"
                  data-bs-dismiss="modal"
                  class="btn btn-secondary logout-button"
                >
                  No
                </a>
              </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- subnav router outlet -->
  <router-outlet name="subnav"></router-outlet>
  <!-- global alert -->
  <alert></alert>

  <!-- main router outlet -->

  <router-outlet></router-outlet>
</div>
