<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Second Year - BS in Accountancy</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">MATHWORLD</th><td>Mathematics in Modern World</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ACCBED210</th><td>Conceptual Framework & Accounting Standards</td><td>3</td><td>0</td><td>3</td><td>ACCBED120</td></tr>
          <tr><th scope="row">ACCBED211</th><td>Intermediate Accounting</td><td>3</td><td>0</td><td>3</td><td>ACCBED120</td></tr>
          <tr><th scope="row">ACCBED212</th><td>Strategic Cost Management</td><td>3</td><td>0</td><td>3</td><td>ACCBED121</td></tr>
          <tr><th scope="row">ACCBED213</th><td>Financial Management</td><td>3</td><td>0</td><td>3</td><td>ACCBED120, ACCBED121</td></tr>
          <tr><th scope="row">ACCBED214</th><td>Managerial Economics</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">LAW2</th><td>Business Laws & Regulations</td><td>3</td><td>0</td><td>3</td><td>LAW1</td></tr>
          <tr><th scope="row">PE3</th><td>Physical Education 3</td><td>2</td><td>0</td><td>2</td><td>PE2</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>28</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">TAX2</th><td>Business Taxation</td><td>3</td><td>0</td><td>3</td><td>TAX1</td></tr>
          <tr><th scope="row">ACCBED220</th><td>Regulatory Framework & Legal Issues in Business</td><td>3</td><td>0</td><td>3</td><td>ACCBED210, LAW2</td></tr>
          <tr><th scope="row">ACCBED221</th><td>Intermediate Accounting 2</td><td>3</td><td>0</td><td>3</td><td>ACCBED211</td></tr>
          <tr><th scope="row">ACCBED222</th><td>Auditing & Assurance Principles</td><td>3</td><td>0</td><td>3</td><td>ACCBED210</td></tr>
          <tr><th scope="row">ACCBED223</th><td>IT Application Tools in Business</td><td>2</td><td>1</td><td>3</td><td>ACCBED210</td></tr>
          <tr><th scope="row">ACCBED224</th><td>Management Science</td><td>3</td><td>0</td><td>3</td><td>ACCBED210</td></tr>
          <tr><th scope="row">ECODEV</th><td>Economic Development</td><td>3</td><td>0</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">PE4</th><td>Physical Education 4</td><td>2</td><td>0</td><td>2</td><td>PE3</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>28</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
