<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Second Year</h1>

  <!-- <h2 class="text-center m-5">First Year</h2> -->

  <div class="wrapper d-flex row justify-content-between gap-2">
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ETHICS</th>
            <td>Ethics</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">RIZAL</th>
            <td>Rizal's Life & Works</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MST</th>
            <td>Mathematics, Science & Technology</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE3</th>
            <td>Physical Education 3</td>
            <td>2</td>
            <td>PE2</td>
          </tr>
          <tr>
            <th scope="row">EDUC211</th>
            <td>Teaching Profession</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ELT214</th>
            <td>Teaching & Assessment of Lit.</td>
            <td>3</td>
            <td>EL102</td>
          </tr>
          <tr>
            <th scope="row">ELT215</th>
            <td>Teaching & Assessment of the Macroskills</td>
            <td>3</td>
            <td>EL101</td>
          </tr>
          <tr>
            <th scope="row">ELT216</th>
            <td>Teaching & Assessment of Grammar</td>
            <td>3</td>
            <td>EL102</td>
          </tr>
          <tr>
            <th scope="row">ELT217</th>
            <td>Speech & Theatre Arts</td>
            <td>3</td>
            <td>102</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>26</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">CREWRI</th>
            <td>Creative Writing</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ELT227</th>
            <td>Language Education Research</td>
            <td>3</td>
            <td>EL121</td>
          </tr>
          <tr>
            <th scope="row">ELT228</th>
            <td>Technical Writing</td>
            <td>3</td>
            <td>ELT102</td>
          </tr>
          <tr>
            <th scope="row">LIT201</th>
            <td>Children & Adolescent Literature</td>
            <td>3</td>
            <td>ELT121</td>
          </tr>
          <tr>
            <th scope="row">LIT202</th>
            <td>Mythodology & Folklore</td>
            <td>3</td>
            <td>EL101</td>
          </tr>
          <tr>
            <th scope="row">ARTHUM</th>
            <td>Arts & Humanities</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">EDUC221</th>
            <td>
              The Teacher and the Community, School Culture & Organizational
              Leadership
            </td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">EDUC222</th>
            <td>Foundation of Special & Inclusive Education</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE4</th>
            <td>Physical Education 4</td>
            <td>2</td>
            <td>PE3</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>26</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
