<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Second Year</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">VED100</th><td>Good Manners and Right Conduct</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">EDUC211</th><td>The Teaching Profession</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">SSC211</th><td>Teaching Social Studies in the Elementary Grades (Phil. History & Government)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">MATH211</th><td>Teaching Math in the Primary Grades</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">SCI211</th><td>Teaching Science in the Elementary Grades (Biology and Chemistry)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">PE3</th><td>Physical Education 3</td><td>2</td><td>PE2</td></tr>
          <tr><th scope="row">FIL211</th><td>Pagtuturo ng Filipino sa Elementarya 1 (Estruktura at Gamit ng Wikang Filipino)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ENG211</th><td>Teaching English in the Elem. Grades (Language Arts)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td><strong>23</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">EDUC222</th><td>Foundation of Special & Inclusive Education</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">PE4</th><td>Physical Education 4</td><td>2</td><td>-</td></tr>
          <tr><th scope="row">SCI222</th><td>Teaching Science in the Elementary Grades (Physics, Earth & Space Science)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">MATH222</th><td>Teaching Math in the Intermediate Grades</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">SSC222</th><td>Teaching Social Studies in the Elementary Grades (Culture & Geography)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">FIL222</th><td>Pagtuturo ng Filipino sa Elem. 2 (Panitikan ng Pilipinas)</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">ENG222</th><td>Teaching in the Elem. Grades Through Literature</td><td>3</td><td>-</td></tr>
          <tr><th scope="row">EDUC211</th><td>The Teacher & the Community, School & Organizational Leadership</td><td>3</td><td>-</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td><strong>23</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
