<div class="container" style="margin: 0 auto">
  <h1 class="my-5">
    Subjects for Third Year - BSBA in Human Resource Development Management
  </h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">MM100</th>
            <td>Marketing Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HRDM7</td>
          </tr>
          <tr>
            <th scope="row">FIN1</th>
            <td>Personal Finance</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HRDM8</th>
            <td>Compensation Administration</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HRDM3</td>
          </tr>
          <tr>
            <th scope="row">OPM-BMA</th>
            <td>Operations Management & TQM</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">BR1</th>
            <td>Business Research</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>15</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BR2</th>
            <td>Advance Business Research 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>BR1</td>
          </tr>
          <tr>
            <th scope="row">HRDM10</th>
            <td>Environmental Management System</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HRDM8</td>
          </tr>
          <tr>
            <th scope="row">RIZAL</th>
            <td>Rizal's Life & Works</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HRDM9</th>
            <td>Organizational Development</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HRDM5</td>
          </tr>
          <tr>
            <th scope="row">HRDM11</th>
            <td>Human Resource Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>MM100</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>15</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BC100</th>
            <td>Good Governance and Social Responsibility</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ETHICS</td>
          </tr>
          <tr>
            <th scope="row">STRAMA</th>
            <td>Strategic Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HRDM11</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>6</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
