<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Fourth Year - BS in Industrial Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IE415</th>
            <td>Operations Management</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE416</th>
            <td>IE Capstone Project 1</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">ES411</th>
            <td>Engineering Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE414</th>
            <td>Ergonomics 1</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE113</th>
            <td>Intellectual Property Rights</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE411</th>
            <td>Operation Research 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE412</th>
            <td>Project Feasibility</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE413</th>
            <td>Managerial Accounting</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>23</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IE427</th>
            <td>Marketing Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE426</th>
            <td>IE Capstone Project 2</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>IE416</td>
          </tr>
          <tr>
            <th scope="row">IE422</th>
            <td>Quality Management System</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE421</th>
            <td>Operation Research 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>IE411</td>
          </tr>
          <tr>
            <th scope="row">IE423</th>
            <td>System Engineering</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE425</th>
            <td>Supply Chain Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>4Y Standing</td>
          </tr>
          <tr>
            <th scope="row">IE424</th>
            <td>Ergonomics 2</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>IE414</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>20</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
