<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for First Year</h1>

  <!-- <h2 class="text-center m-5">First Year</h2> -->

  <div class="wrapper d-flex row justify-content-between gap-2">
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">HIST</th>
            <td>Reading in Philippine History</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">STS</th>
            <td>Science, Technology and Society</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE1</th>
            <td>Physical Education 1</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">EL100</th>
            <td>Introduction to Linguistics</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">FIL1</th>
            <td>Retorika</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">NSTP1</th>
            <td>National Service Training Program 1</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">EL102</th>
            <td>Structures in English</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PURCOM</th>
            <td>Purposive Communication</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">UTS</th>
            <td>Understanding the Self</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>29</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__container">
      <h3 class="text-small text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ELT122</th>
            <td>Language Programs & Policies in Multilingual Societies</td>
            <td>3</td>
            <td>ELT121</td>
          </tr>
          <tr>
            <th scope="row">ELT123</th>
            <td>Language Learning Materials Development</td>
            <td>3</td>
            <td>EL101</td>
          </tr>
          <tr>
            <th scope="row">ARTAPP</th>
            <td>Art Appreciation</td>
            <td>3</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">MATHWORLD</th>
            <td>Mathematics in the Modern World</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">EDUC101</th>
            <td>The Child & Adolescent Learners & Learning Principles</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">NSTP2</th>
            <td>National Service Trainining Prog. 2</td>
            <td>3</td>
            <td>NSTP1</td>
          </tr>
          <tr>
            <th scope="row">PE2</th>
            <td>Physical Education 2</td>
            <td>2</td>
            <td>PE 1</td>
          </tr>
          <tr>
            <th scope="row">CW</th>
            <td>The Contemporary World</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">FIL2</th>
            <td>Panitikan ng Pilipinas</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ELT121</th>
            <td>Prin. & Theories of Language Acquisition and Learning</td>
            <td>3</td>
            <td>EL101</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>TOTAL</td>
            <td>29</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
