<h1>Accounts</h1>
<p>All accounts from secure (admin only) API endpoint:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Account</a>

<!-- Show placeholder if accounts is empty -->
<div *ngIf="loading" class="mt-5 container">
  <p class="placeholder-glow">
    <span class="placeholder col-12 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-10 my-2 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-8 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-6 my-2 bg-secondary placeholder-lg"></span>
    <span class="placeholder col-4 bg-secondary placeholder-lg"></span>
  </p>
</div>

<!-- Show table if accounts exist -->
<table class="table table-striped mt-4" *ngIf="!loading">
  <thead>
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Username</th>
      <th style="width: 25%">Email</th>
      <th style="width: 25%">Role</th>
      <th style="width: 15%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.first_name }} {{ account.last_name }}</td>
      <td>{{ account.username }}</td>
      <td>{{ account.email }}</td>
      <td>{{ account.role }}</td>
      <td style="white-space: nowrap">
        <a
          routerLink="edit/{{ account.id }}"
          class="btn btn-sm btn-primary mr-1"
          >Edit</a
        >
        <!-- Uncomment the button below to enable account deletion -->
        <!-- <button (click)="deleteAccount(account.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="account.isDeleting">
          <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!account.isDeleting">Delete</span>
        </button> -->
      </td>
    </tr>
  </tbody>
</table>
