<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for First Year - BS in Mechanical Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">NSTP1</th>
            <td>National Service Training Prog. 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MATHWORLD</th>
            <td>Math. in the Modern World</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MATH111</th>
            <td>Calculus 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">CHEM101</th>
            <td>Chemistry for Engineers</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MATH112</th>
            <td>Mathematics for Engineers</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ME111</th>
            <td>Mechanical Engineering Orientation</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PURCOM</th>
            <td>Purposive Communication</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE1</th>
            <td>Physical Education 1</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ES111</th>
            <td>Engineering Drawing & Plans</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>24</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ME121</th>
            <td>Workshop Theory & Practice</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">NSTP2</th>
            <td>National Service Training Prog. 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>NSTP1</td>
          </tr>
          <tr>
            <th scope="row">PE2</th>
            <td>Physical Education 2</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>PE1</td>
          </tr>
          <tr>
            <th scope="row">ARTAPP</th>
            <td>Art Appreciation</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">RIZAL</th>
            <td>Rizal's Life & Works</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HIST</th>
            <td>Readings in Phil. History</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MATH123</th>
            <td>Calculus 2</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>MATH111</td>
          </tr>
          <tr>
            <th scope="row">PHY101</th>
            <td>Physics for Engineers</td>
            <td>3</td>
            <td>1</td>
            <td>4</td>
            <td>MATH111</td>
          </tr>
          <tr>
            <th scope="row">ES123</th>
            <td>Basic Occupational, Safety & Health</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ES122</th>
            <td>Computer Aided Design</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>ES111</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>26</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
