<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Fourth Year - BS in Mechanical Engineering</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">ME411</th><td>Machine Design 1</td><td>3</td><td>1</td><td>4</td><td>ME311, ME322</td></tr>
          <tr><th scope="row">ME413</th><td>ME Project Study 1</td><td>0</td><td>1</td><td>1</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME416</th><td>ME Refresher Course 2</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME417</th><td>Refrigeration Systems</td><td>3</td><td>0</td><td>3</td><td>ME222, ME312</td></tr>
          <tr><th scope="row">ES411</th><td>Engineering Management</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME412</th><td>Mechanical Engineering Lab 2</td><td>0</td><td>1</td><td>2</td><td>ME324</td></tr>
          <tr><th scope="row">ME415</th><td>Control Engineering</td><td>2</td><td>1</td><td>3</td><td>EE201</td></tr>
          <tr><th scope="row">ME414</th><td>Power Plant Design w/ Renewable Energy</td><td>3</td><td>1</td><td>4</td><td>ME323, ME222</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>23</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">ME424</th><td>Industrial Plant Engineering</td><td>3</td><td>1</td><td>4</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME425</th><td>Air Conditioning & Ventilation Systems</td><td>3</td><td>0</td><td>3</td><td>ME417</td></tr>
          <tr><th scope="row">ME427</th><td>ME Laws, Ethics, Contracts, Codes & Standards</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME421</th><td>Machine Design 2</td><td>0</td><td>1</td><td>4</td><td>ME411</td></tr>
          <tr><th scope="row">ME422</th><td>Mechanical Engineering Lab 3</td><td>0</td><td>1</td><td>2</td><td>ME412</td></tr>
          <tr><th scope="row">ME426</th><td>Mfg. & Ind'l Process with Plant Visits</td><td>0</td><td>2</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME428</th><td>ME Refresher Course 3</td><td>3</td><td>0</td><td>3</td><td>4Y Standing</td></tr>
          <tr><th scope="row">ME423</th><td>ME Project Study 2</td><td>0</td><td>1</td><td>1</td><td>ME413</td></tr>
          <tr><th scope="row"></th><td><strong>TOTAL</strong></td><td></td><td></td><td><strong>22</strong></td><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
