<div class="container">
  <h1>Prospectus</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>

  <!-- <div>
    <a routerLink="all-year" class="btn btn-success text-light"> IT View</a>
  </div> -->

  <div class="mt-4 border rounded note bg-warning-subtle">
    <div class="m-3">This section is under construction! 🚧🦺🍦</div>
  </div>
</div>

<div class="container text-center mt-5 mx-10">
  <div class="row d-flex justify-content-center gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img
        src="/assets/img/it.png"
        class="department-logo"
        alt="deparment logo"
      />
      <div class="card-body">
        <h5 class="card-title">College of Computer Studies</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>

        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="college-of-computer-studies"
            class="btn btn-primary text-light"
          >
            View
          </a>
        </div>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img
        src="/assets/img/cte.png"
        class="department-logo"
        alt="deparment logo"
      />
      <div class="card-body">
        <h5 class="card-title">College of Education and Arts</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="college-of-education-and-arts"
            class="btn btn-primary text-light"
          >
            View
          </a>
        </div>
      </div>
    </div>

    <div class="col card p-0" style="width: 18rem">
      <img
        src="/assets/img/engineering.png"
        class="department-logo"
        alt="deparment logo"
      />
      <div class="card-body">
        <h5 class="card-title">College of Engineering</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="college-of-engineering"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>

    <div class="col card p-0" style="width: 18rem">
      <img
        src="/assets/img/cbm.png"
        class="department-logo"
        alt="department logo"
      />
      <div class="card-body">
        <h5 class="card-title">College of Business Management</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a
            routerLink="college-of-business-management"
            class="btn btn-primary text-light"
          >
            View</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row d-flex justify-content-center mt-5 gap-4">
    <div class="col-md-4 card p-0" style="width: 18rem">
      <img
       
        class="card-img-top"
        alt="deparment logo"
      />
      <div class="card-body">
        <h5 class="card-title">IT</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <a routerLink="all-year" class="btn btn-primary text-light">
            View</a
          >
        </div>
      </div>
    </div> -->
</div>
