<div class="container">
  <h1>College of Computer Studies</h1>
  <p>You're logged in with Benedicto College Scheduling.</p>
</div>

<div class="container text-center mt-5">
  <div class="row gap-4">
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">First Year</h5>
        <p class="card-text">
          Access the prospectus for 1st Year Information Technology
        </p>
        <a routerLink="1st-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>

    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Second Year</h5>
        <p class="card-text">
          Access the prospectus for 2nd Year Information Technology
        </p>
        <a routerLink="2nd-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Third Year</h5>
        <p class="card-text">
          Access the prospectus for 3rd Year Information Technology
        </p>
        <a routerLink="3rd-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>
    <div class="col card p-0" style="width: 18rem">
      <img class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Fourth Year</h5>
        <p class="card-text">
          Access the prospectus for 4th Year Information Technology
        </p>
        <a routerLink="4th-year" class="btn btn-primary text-light">View</a>
      </div>
    </div>
  </div>
</div>
