<div class="container" style="margin: 0 auto">
  <h1 class="my-5">
    Subjects for Second Year - BS in Business Administration Major in Marketing
    Management
  </h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">STS</th>
            <td>Science, Technology and Society</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ECON100</th>
            <td>Basic Micro Economics</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">ENTREP</th>
            <td>Entrepreneurial Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MM4</th>
            <td>Product Management</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE3</th>
            <td>Physical Education 3</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MM5</th>
            <td>Distribution Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MM6</th>
            <td>Retail Management</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>20</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">MM7</th>
            <td>Advertising</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>MM2, MM5, MM4, MM6</td>
          </tr>
          <tr>
            <th scope="row">MATHWORLD</th>
            <td>Mathematics in the Modern World</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">MM8</th>
            <td>Direct Marketing</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>MM2, MM5, MM4, MM6</td>
          </tr>
          <tr>
            <th scope="row">MM9</th>
            <td>Pricing Strategy</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>MM2, MM5, MM4, MM6</td>
          </tr>
          <tr>
            <th scope="row">SOCPHIL</th>
            <td>Social Science & Philosophy</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE4</th>
            <td>Physical Education 4</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>PE3</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>17</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">IBT</th>
            <td>International Business & Trade</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>ENTREP</td>
          </tr>
          <tr>
            <th scope="row">MM8</th>
            <td>Franchising</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>MM7</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>6</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
