/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fffcfc;
}

.navbar-bg {
  background-color: #03153e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-section {
  background: url(https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg)
    no-repeat bottom / cover;
  width: 100%;
  height: 100vh;
}

.card-img-top {
  background: url(https://mis.benedictocollege.edu.ph/assets/bene-school-815be6299a10bcc76c09c819b5a1f49beb216565f77ba611270de3b63f1b33f6.jpg)
    no-repeat bottom / cover;
  border: 1px solid white;
  height: 120px;
}

.jqx-scheduler-edit-dialog-label {
  width: unset !important;
  margin: 0px !important;
}

.jqx-scheduler-not-work-time-cell {
  background: white;
}

.center-fixed-dialog {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important; /* Remove any margins */
  /* height: 0px !important; */
}

/* .jqx-window-content {
  height: 380px !important;
  width: 530px !important;
  overflow-x: hidden;
} */

.alert-container {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  right: 0;
  max-width: 400px;
}

a > img,
button > img {
  width: 30px;
  height: 30px;
}

.main-board {
  margin-left: 16rem;
}

.schedule-button {
  outline: none;
}

.logout-button {
  width: 50%;
}

.are-you {
  font-size: 14px;
}

.logged-as {
  font-size: 12px;
}

.schedule-container {
  margin: 0 auto;
  max-width: 1440px;
}

.department-logo {
  width: 140px;
  height: 140px;
  margin: 1rem auto;
}

.disabled {
  pointer-events: none;
}
/* 
.jqx-scheduler-all-day-cell {
  height: 1px !important;
} */

/* .note {
  height: 150px;
} */

.account-button::after {
  display: none;
}

.profile-pic {
  width: 45px;
  height: 45px;
}

/* From Uiverse.io by Fernando-sv */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.707);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.707);
  border-left-color: transparent;
  width: 46px;
  height: 46px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.707);
  border-left-color: transparent;
  width: 46px;
  height: 46px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
