<div class="p-4">
  <div class="container">
    <h1>Hi {{ user?.user?.first_name }}!</h1>
    <p>You're logged in with Benedicto College Scheduling.</p>
  </div>
</div>

<div class="my-5">
  <jqxScheduler
    #schedulerReference
    [date]="date"
    [width]="1300"
    [height]="800"
    [source]="dataAdapter"
    [showLegend]="true"
    [view]="'weekView'"
    [appointmentDataFields]="appointmentDataFields"
    [resources]="resources"
    [views]="views"
    [view]="'monthView'"
    (onAppointmentAdd)="AppointmentAdd($event)"
    (onAppointmentChange)="AppointmentUpdate($event)"
    (onAppointmentDelete)="AppointmentDelete($event)"
    [editDialogOpen]="editDialogOpen"
    style="margin: 0 auto"
  >
  </jqxScheduler>
</div>

<!-- (onAppointmentChange)="AppointmentUpdate($event)"
(onAppointmentDelete)="AppointmentDelete($event)"
[editDialogCreate]="editDialogCreate" -->
