<div class="container" style="margin: 0 auto">
  <h1 class="my-5">Subjects for Second Year - BS in Hospitality Management</h1>

  <div class="wrapper d-flex row justify-content-between gap-2">
    <!-- First Semester -->
    <div class="table__container">
      <h3 class="text-center">First Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PURCOM</th>
            <td>Purposive Communication</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">STS</th>
            <td>Science, Technology and Society</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE3</th>
            <td>Physical Education 3</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>PE2</td>
          </tr>
          <tr>
            <th scope="row">HM102</th>
            <td>Banquet, Function and Catering Services</td>
            <td>3</td>
            <td>2</td>
            <td>5</td>
            <td>FB100</td>
          </tr>
          <tr>
            <th scope="row">CUL103</th>
            <td>Western Cuisine</td>
            <td>3</td>
            <td>2</td>
            <td>5</td>
            <td>HM100, HM101, CUL101</td>
          </tr>
          <tr>
            <th scope="row">FIL1</th>
            <td>Retorika</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>21</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Second Semester -->
    <div class="table__container">
      <h3 class="text-center">Second Semester</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SOCPHIL</th>
            <td>Social Science & Philosophy</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">HM103</th>
            <td>Front Office Procedures</td>
            <td>3</td>
            <td>2</td>
            <td>5</td>
            <td>HM100, HM101</td>
          </tr>
          <tr>
            <th scope="row">CUL104</th>
            <td>Baking & Pastry</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HM100, HM101, CUL101</td>
          </tr>
          <tr>
            <th scope="row">TOUR101</th>
            <td>Principles of Tourism 1</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>HM100</td>
          </tr>
          <tr>
            <th scope="row">ARTAPP</th>
            <td>Art Appreciation</td>
            <td>3</td>
            <td>0</td>
            <td>3</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">PE4</th>
            <td>Physical Education 4</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>PE3</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>21</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Summer Term -->
    <div class="table__container">
      <h3 class="text-center">Summer</h3>
      <table class="table mt-3 table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject Code</th>
            <th scope="col">Descriptive Title</th>
            <th scope="col">Lec</th>
            <th scope="col">Lab</th>
            <th scope="col">Units</th>
            <th scope="col">Pre-requisite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PRACTICUM 1</th>
            <td>Housekeeping and F&B Service and Production</td>
            <td>0</td>
            <td>4</td>
            <td>4</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><strong>TOTAL</strong></td>
            <td></td>
            <td></td>
            <td><strong>4</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
