<div class="pt-4 px-4 container">
  <div class="d-flex justify-content-between align-items-end">
    <div>
      <h1>3rd Year Schedule</h1>
      <p>This section can only be accessed by the deans.</p>
    </div>

    <div class="d-flex gap-2 mb-2">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          View Schedule
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/1st-year"
              class="dropdown-item"
              >1st Year</a
            >
          </li>
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/2nd-year"
              class="dropdown-item"
              >2nd Year</a
            >
          </li>
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/3rd-year"
              class="dropdown-item"
              >3rd Year</a
            >
          </li>
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/4th-year"
              class="dropdown-item"
              >4th Year</a
            >
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          View Enlistment
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/1st-year/enlistment"
              class="dropdown-item"
              >1st Year</a
            >
          </li>
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/2nd-year/enlistment"
              class="dropdown-item"
              >2nd Year</a
            >
          </li>
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/3rd-year/enlistment"
              class="dropdown-item"
              >3rd Year</a
            >
          </li>
          <li>
            <a
              href="schedule/college-of-engineering/civil-engineering/4th-year/enlistment"
              class="dropdown-item"
              >4th Year</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <button (click)="generatePDF()" class="btn btn-primary">
      Download Schedule
    </button>
  </div>

  <div
    class="mt-5 border rounded note bg-warning-subtle"
    *ngIf="conflicts.length > 0"
  >
    <div class="m-3">
      <h3>Conflicts Schedules</h3>

      <table class="w-100 mt-4">
        <thead>
          <tr>
            <th>Subject</th>

            <!-- <th>Day</th> -->
            <th>Start</th>
            <th>End</th>
            <th>Room</th>
            <th>Day</th>

            <!-- Column for conflict notes -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of conflicts">
            <td>{{ schedule.subject }}</td>
            <!-- <td>{{ schedule.day }}</td> -->
            <td>{{ schedule.start | date : "shortTime" }}</td>
            <td>
              {{ schedule.end | date : "shortTime" }}
            </td>
            <td>{{ schedule.room }}</td>
            <td>{{ schedule.day }}</td>
            <!-- <td>{{ schedule.notes }}</td> -->
            <!-- Display conflict notes -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mt-5" #pdfContent>
  <jqxScheduler
    #schedulerReference3
    [date]="date"
    [height]="2200"
    [width]="1300"
    [source]="dataAdapter"
    [showLegend]="true"
    [view]="'weekView'"
    [appointmentDataFields]="appointmentDataFields"
    [resources]="resources"
    [views]="views"
    style="margin: 0 auto"
    class="disabled"
  >
  </jqxScheduler>
</div>
